<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="InfoLevelsLog" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\temp\logs\ConsoleTest-%processid.log"/>
      <param name="Threshold" value="DEBUG"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <!--<maximumFileSize value="20MB" />-->
      <countDirection value="1"/>

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
      <threshold value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="InfoLevelsLog"/>-->
      <appender-ref ref="ConsoleLog"/>
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
